.aside {
  width: 360px;
  padding: 20px;
  background-color: white;
  overflow: hidden;
  display: block;
  position: fixed;
  height: 100vh;
  top: 0;
  right: 0;
  transform: translate(100%, 0);
  transition: all .4s;
  z-index: 999;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, .1);

  &.open {
    transform: translate(0, 0);
  }
}
