<nav class="navbar">
  <h1>Angular Dynamic components</h1>
</nav>

<div class="container">
  <div class="card">
    <h2>Block to create dynamic modal-component using @Directive</h2>
    <button class="btn" (click)="showModal()">Show modal</button>
  </div>

  <div class="card">
    <h2>Block to create dynamic aside-nav-component </h2>
    <button class="btn" (click)="createComponent(asideNav)" [disabled]="isDisabled">Show nav</button>
  </div>
</div>

<!-- the tempate used to create viewContainerRef to create aside nav  -->
<ng-template #container></ng-template>

<!-- the tempate used to create viewContainerRef inside @Directive to create modal  -->
<ng-template [appModal]="modalComponent" [modalDataInput]="modalData"></ng-template>
