@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
}

a {
  text-decoration: none;
}

a:hover {
  color: #666;
}

p {
  margin: 1.2rem 0;
}

ul, ol {
  list-style-position: inside;
}

img {
  width: 100%;
}

.btn {
  display: inline-block;
  background: #333333;
  color: #fff;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
  outline: none;

  &:not(:last-child) {
    margin-right: 0.5rem;
  }

  &:disabled {
    background: #ccc;
    color: #000;
    cursor: not-allowed;
  }

  &:hover {
    opacity: 0.8;
  }

  &.narrow {
    line-height: 1;
  }
}

.btn.btn-danger {
  background: #dc3545;
  color: #fff;
}

.form-control {
  display: block;
  margin-top: 0.3rem;
  margin-bottom: .5rem;

  label {
    display: block;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: .5rem;
  }

  input {
    margin-bottom: 0;
  }

  .validation {
    color: red;
  }
}

.card {
  padding: 1rem;
  border: #ccc 1px dotted;
  margin: 0.7rem 0;

  p {
    display: flex;
    justify-content: space-between;

    span.completed {
      text-decoration: line-through;
    }
  }
}

a {
  text-decoration: none;
  color: #333;
}

input,
select,
textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
}

hr {
  margin: .5rem 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  width: 100%;
  opacity: 0.9;
  margin-bottom: 1rem;
  background: #dc3545;
  color: #fff;

  ul {
    display: flex;

    li.active a {
      font-weight: bold;
      color: #333333;
      cursor: default;
    }
  }

  a {
    color: #fff;
    padding: 0.45rem;
    margin: 0 0.25rem;
  }
}

$sizes: 8, 16, 32;

@each $size in $sizes {
  .m-r-#{$size} {
    margin-right: #{$size}px;
  }

  .m-b-#{$size} {
    margin-bottom: #{$size}px;
  }

  .m-l-#{$size} {
    margin-left: #{$size}px;
  }

  .m-t-#{$size} {
    margin-top: #{$size}px;
  }
}

.aside-child {
  width: 360px;
  padding: 20px;
  background-color: white;
  overflow: hidden;
  display: block;
  position: fixed;
  height: 100vh;
  top: 0;
  right: 0;
  transform: translate(100%, 0);
  transition: all .4s;
  z-index: 1020;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, .1);

  &.open {
    transform: translate(0, 0);
  }
}

.flex {
  display: flex;
  justify-content: space-between;
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, .3);
}
