<div class="aside-child" [class.open]="isOpen">
  <div class="flex m-b-32">
    <button class="btn narrow" (click)="closeSelf()"><-- back</button>
    <button class="btn narrow" (click)="closeParent()">x</button>
  </div>
  <h2 class="m-b-16">Aside Child Component Two</h2>

  <ol>
    <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium, fuga?</li>
    <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium, fuga?</li>
    <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium, fuga?</li>
    <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium, fuga?</li>
  </ol>
</div>
